/*Page styling*/

* {
    margin: 0;
    padding: 0;
    font-size:62.5%;
    font-family: 'Caesar Dressing', cursive;
}

/*Make body display centrally on the screen so background is always covered in background img*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    background-image: url("https://i.postimg.cc/T3SGc5RN/armillar-ball-3408811.jpg");
    background-size: cover;
}

/*Flex container to adjust screen based on size*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 2rem auto;
    padding:2rem;
    background-color: rgba(0, 0, 54, 0.8);
    border-radius: 20px;
    border: #0d98ba 20px double;
    align-self: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*align text*/
.text-center {
    text-align: center;
}


/*Question Number holder for clear display*/

.holder {
    display:flex;
}

/* Hide different pages depending on where the user is*/
.hide {
    display:none;
}

/*Styling features */

.title {
    font-size: 5rem;
    color: #fa8128;
    margin-bottom: 2rem;
    font-family: 'Caesar Dressing', cursive;
    text-shadow: 2px 3px #fed8b1;
}

.tag-line, .home-tag-line {
    font-family: 'Caesar Dressing', cursive;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    color: #fa8128;
}

.btn, .btn-hover {
    font-size: 2rem;
    padding: 2rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #261342;
    background-color: #0d98ba;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Caesar Dressing', cursive;
}

.question-number, .question, .score, .sub-title, .score, .correct-answers {
    font-size: 3rem;
    color: #fa8128;
    margin-bottom: 5rem;
    font-family: 'Caesar Dressing', cursive;
}

.bi-lightning-fill {
    font-size: 5rem;
    padding: 2rem;
    text-shadow: 2px 3px #fed8b1;
}

.bi-bank{
    font-size: 3rem;
    color:#2e145d;
    width:100%;
}

.btn-home {
    margin-left: auto;
    font-size: 2rem;
    background-color: #0d98ba;
    color: #261342;
    border-radius: 10px;
    padding: 1rem;
}

/*Display of leaderboard*/

.leaderboard-display {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 2rem auto;
        padding:4rem;
        background-color: rgba(0, 0, 54, 0.8);
        border-radius: 20px;
        border: #0d98ba 10px double;
    }

/*responsiveness for users based on their actions*/

.correct {
    background-color: #228c22;
    color:#660000
}

.incorrect {
    background-color: #660000;
    color:#228c22
}

.btn-hover:hover {
    background-color: #261342;
    color: #fa8128;
}

.btn-home:hover {
    background-color: #261342;
    color: #fa8128;
}

.bi-bank:hover {
    font-size: 3rem;
    background-color: #261342;
    color: #fa8128;
    width: fit-content;
    height: 100%;
}

.btn:hover{
    box-shadow: 2px 2px 2px 2px #152238 inset;
}

/*Smaller screen displays*/

@media(max-width: 800px) {
    .home-tag-line {
        display: none;
    }
}

@media(max-width: 800px) {
    body {
        padding: 2rem;
    }
}

@media(max-width: 800px) {
    .bi-lightning-fill {
        display: none;
    }
}

/*Form & List*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lists {
    list-style-type: none;
}